@background: #282F34;
@main: #9bc4d1;

.box-shadow (@string) {
  -webkit-box-shadow: @string;
  -moz-box-shadow:    @string;
  box-shadow:         @string;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {

}