html, body, #app { height: 100%; }

.ui-layout {
    height: 100%;
    background: #edeff0;
    padding-left: 70px;
}

.ui-sidebar-wrap {
    position: fixed;
    top:0;
    left: 0;
    width: 70px;
    height: 100%;
    background: #3e474f;
}

.ui-header-wrap {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 30px 0 100px;
}

.ui-header {
    width: 100%;
    height: 70px;
    background: #edeff0;
}

.ui-header:after {
    position: relative;
    z-index: -1;
    content: "";
    display: block;
    height: 100%;
    -webkit-box-shadow: 0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
    -moz-box-shadow:    0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
    box-shadow:         0 -4px 0px 4px #edeff0,0 2px 4px 0 rgba(0,0,0,0.2);
}

.ui-page-page-title {
    letter-spacing: .02em;
    padding-top: 25px;
    color: #384047;
    font-weight: bold;
    font-size: 16px;
}